<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.carnote.model.entity.UserRole" />
        <mapping class="com.carnote.model.entity.UserInfo" />
        <mapping class="com.carnote.model.entity.Vehicle" />
        <mapping class="com.carnote.model.entity.ExpType" />
        <mapping class="com.carnote.model.entity.Expense" />
        <mapping class="com.carnote.model.entity.FuelExpense" />
    </session-factory>
</hibernate-configuration>