@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    /*background: #757575 url("../img/bg.jpg") no-repeat fixed center center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    font-family: "Raleway", sans-serif;
}

body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url("../img/bg.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.appname {
    font-family: 'Trade Winds', cursive;
    font-size: 40pt;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 40px;
    -webkit-text-stroke: 1px black;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.pagetitle {
    font-family: 'Trade Winds', cursive;
}

.table-index {
    background-color: rgba(255, 255, 255, 0.7);

    -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
}

.table td {
    vertical-align: middle;
}

.table-wrapper {
    padding: 20px;
}

.table-vehicle-wrapper {
    background-color: rgba(255, 255, 255, 0.7);

    -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);

    margin-bottom: 30px;
}

.table-row{
    cursor:pointer;
}

.table-vehicle-search {
    width: 100%;
    background-color: transparent;
    border: none;
}

.table-autoscroll {
    max-height: 45vh;
    overflow-y: auto;
}

.center-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.form-wrapper {
    width: 100%;

    background-color: rgba(255, 255, 255, 0.7);

    -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);

    padding: 40px 30px 30px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-spacer {
    height: 20px;
}

.bottom-zero {
    bottom: 0;
}

.expenses-details {
    background-color: rgba(0, 0, 0, 0.85);

    -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.61);

    margin-bottom: 30px;
    padding: 15px;

    font-family: 'Jost', sans-serif;
    color: rgba(255, 255, 255, 0.80);
}

#lpg-cap, #lpg-lev, #lpg-spacer {
    display: none;
}

#errorMessage {
    display: none;
    color: red;
    margin-bottom: 30px;
}